<a href="javascript: void(0)" class="mb-4 d-block" (click)="loadUser()" style="text-decoration: none;">
  <span class="bi-download me-2"></span>
  <small>Load users</small>
</a>

<small class="text-muted d-block mb-3" *ngIf="!!input.value" >Edit the object bellow</small>
<form [formGroup]="form">
    <textarea
      cols="55"
      rows="28"
      #input
      class="form-control bg-dark text-white"
      [value]="selectedUser$ | async"
      style="font-size: 0.8rem; border: none; font-family: JetBrains Mono;"
      formControlName="changes"
      (ngModelChange)="updateUser($event)"
    ></textarea>
</form>
<!-- <div class="d-flex">
    <button class="btn btn-danger me-2" (click)="updateUser(input.value)"><span class="bi-edit"></span>Save</button>
    <button class="btn btn-secondary me-2" (click)="addUser(input.value)"><span class="bi-plus"></span> Add User</button>
</div> -->
